@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hover-customBlue:hover {
  background-color: #0C1139;
  transition: background-color 0.4s ease-in-out;
}

.custom-gallery {
  max-width: 900px; 
  margin: 0 auto;
  margin-top: 2rem;
}

.bg-image {
  background-image: url('../../assets/casa-8598ce42.jpg'); 
}

/* '../../assets/casa-8598ce42.jpg' */